/* scss/organisms/_actionStrip.scss */

.actionStrip{
    background: $color1;
    text-align: center;
    padding: 50px 20px;
}
.actionStrip__heading{
    color: #fff;
    font-style: italic;
    font-size: 42px;
}

@media only screen and ( max-width: 714px ){
    .actionStrip__heading{
        font-size: 32px;
    }
}